{% extends 'base/main.html' %}
{% block title %}sign up{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  label,form {
        padding-top: 10px !important;
        display: block;
        margin-left: 20px;

}
.alert-success{
  margin-left: 20px;
 width: 50%;
}
</style>
<br><br>
<div class="alert alert-success" role="alert">
    <h1>SignUp</h1>
  </div>
  <form method="post">
    
    <div class="form-group grid ">
      {% csrf_token %}
      <label>{{form.username.label}}*</label>
      {{form.username}}
  
  <br>
       <p>please enter a valid email  </p>
  <label>{{form.email.label}}</label>
      {{form.email}}
       
       <br>
       
      <label>{{form.password1.label}}*</label>
      {{form.password1}}
  
  <br>
      <p>password must contain uppercase, symbols and numbers</p>
      
      <label>{{form.password2.label}}*</label>
      {{form.password2}}
        <br>
        <br>
    <button type="submit" class="btn btn-primary" id="register">Submit</button>
    <p >If you already have an account, <a href="{% url 'login' %}">login instead.</a></p>
  </form>



  {% endblock %}